<div class="page-container">
  <h1 id="title">Authentication with passport</h1>
  <a href="/login" class="login-signup"><div>Log in</div></a>
  <a href="/signup" class="login-signup"><div>Sign up</div></a>
</div>